%button {
  display: block;
  height: 4.5rem;
  min-height: 4.5rem;
  color: white;
  outline: none;
  border-radius: 3rem;
  line-height: 4.5rem;
  text-align: center;
  font-family: 'Poppins', 'sans-serif';
  font-weight: 500;
}

@mixin primary-button($width) {
  @extend %button;
  background-color: $blue;
  width: $width;
  &:focus,
  &:active,
  &:hover {
    color: $orange;
  }
}

@mixin secondary-button($width) {
  @extend %button;
  background: none;
  color: white;
  line-height: 50%;
  border: 2px solid white;
  width: $width;
  &:focus,
  &:active,
  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

@mixin delete-button($width) {
  @extend %button;
  background-color: $red;
  width: $width;
}
