$brown: #b9841e;
$beige: #fff4e0;
$white: #ffffff;
$faded_white: rgba($white, 0.8);
$blue: #004cad;
$light_blue: #5fa1f5;
$orange: #f59f00;
$red: #ad2111;
$faded_red: #a8403d;
$yellow: #fad919;
$green: #1bad09;
$signup_brown: #312102;
$profile_blue: #1e3654;
$disabled_button: #6d89ad;
