$brown: #b9841e;
$beige: #fff4e0;

$white: #ffffff;
$faded_white: rgba($white, 0.7);
$black: #000000;

$mobile_background_light: #9dc1ee;
$mobile_background_dark: #3573c2;

$blue: #004cad;
$light_blue: #5fa1f5;

$orange: #f59f00;

$green: #1bad09;
$yellow: #fad919;
$faded_red: #a8403d;
$red: #ad2111;

$desktop_background_brown: #312102;
$desktop_background_blue: #1e3654;
$disabled_button: #6d89ad;
