// error-message is class added to every input-following
// paragraph denoting potential invalid inputs
// those paragraphs are empty by default, optionally filled
// either by JS validation or server-side PHP validation

.error-message {
  color: $red;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7;
  min-height: 2rem;
}

@media (min-width: 520px) {
  .error-message {
    font-size: 1.4rem;
    min-height: 2.3rem;
  }
}

@media (min-width: 1024px) {
  .error-message {
    color: $orange;
  }
}

@media (min-width: 1024px) {
  .error-message {
    font-size: 1.6rem;
    min-height: 2.7rem;
  }
}
