@mixin text-input {
  width: 100%;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 1.8rem;
  padding: 0;
  padding-bottom: 0.5rem;
  outline: none;
  border-bottom: 1px solid white;
}
