// almost every input throughout website (excluding checkboxes and textarea)
// comes with label (obviously) and following (empty by default) <p>
// filled dynamically with proper information when input invalid occurs

// .input-group is class added to div grouping above elements together

.input_group {
  position: relative;
}

.input {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1.6rem;
  background: none;
  font-family: 'Poppins', sans-serif;
  color: $faded_white;
  border: none;
  border-bottom: 1px solid white;
  outline: none;

  &:focus + .label {
    transform: translateY(-100%) scale(1.02);
    color: $white;
  }
  &:not(:placeholder-shown) + .label {
    transform: translateY(-100%) scale(1.02);
    color: $white;
  }
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.8rem;
  color: $faded_white;
  transform-origin: top left;
  transition: transform 0.4s ease-out, color 0.4s ease-out;
}

// error-message is class added to every input-following
// paragraph denoting potential invalid inputs
// those paragraphs are empty by default, optionally filled
// either by JS validation or server-side PHP validation

.error_message {
  color: $red;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7;
  min-height: 2rem;
}
