@mixin text-input {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  width: 100%;
  display: block;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 1.6rem;
  padding: 0;
  outline: none;
  border-bottom: 1px solid white;
}
