a:link {
  outline: none;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
a:visited {
  color: white;
}

a:active {
  color: $orange;
  & path {
    fill: $orange;
  }
}

a:focus {
  color: $orange;
  & path {
    fill: $orange;
  }
}
a:hover {
  color: $orange;
  & path {
    fill: $orange;
  }
}
