@import 'reset';
@import 'colors';
@import 'fonts';
@import 'links';
@import 'buttons';
@import 'forms';
@import 'inputs';

::selection {
  background-color: $red;
}

html,
body {
  height: 100%;
  min-height: 53rem;
}

body {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  max-width: 140rem;
  margin: 0 auto;
  background-color: #95bdef;
  background-image: linear-gradient(to top, #95bdef 70%, #558cd2);
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.body--visible {
  visibility: visible;
  opacity: 1;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0 2.2rem;
  flex-grow: 1;
}
// maybe this width should be moved into forms component
.account-form,
.delete-form {
  width: 90%;
}
.input {
  font-size: 1.4rem;
}
.input_group {
  margin-bottom: 1.9rem;
}
.input_group:last-of-type {
  margin-bottom: 0.5rem;
}

.button_primary,
.button_delete,
.button_secondary {
  align-self: center;
  padding: 1.1rem 3rem;
}
.button_primary {
  margin-bottom: 3.5rem;
}

.button_delete {
  margin-bottom: 1.5rem;
}

.button_secondary {
  padding: 1.2rem 4rem;
  margin-bottom: 2rem;
}

///////////////////////////////////////////
// media queries

@media (min-height: 670px) {
  .title {
    margin: 3rem 0;
    font-size: 3.6rem;
  }

  .label {
    font-size: 2rem;
  }

  .input {
    font-size: 1.6rem;
  }

  .error-message {
    font-size: 1.4rem;
    min-height: 2.3rem;
  }

  .button_primary,
  .button_delete,
  .button_secondary {
    padding: 1.2rem 3.5rem;
    font-size: 2.2rem;
  }

  .button_secondary {
    padding: 1.2rem 4.5rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 520px) {
  html {
    min-height: 71rem;
  }
  .title {
    margin: 3rem 0;
    font-size: 3.6rem;
  }
  .account-form,
  .delete-form {
    width: 75%;
  }

  .input_group {
    margin-bottom: 2.8rem;
  }
  .input_group:last-of-type {
    margin-bottom: 0.4rem;
  }

  .label {
    font-size: 2.4rem;
  }

  .input {
    font-size: 2rem;
  }

  .error-message {
    font-size: 1.4rem;
    min-height: 2.3rem;
  }

  .button_primary,
  .button_delete,
  .button_secondary {
    font-size: 2.4rem;
    padding: 1.5rem 4.5rem;
  }
}
@media (min-width: 768px) {
  .account-form,
  .delete-form {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  html {
    min-height: 59rem;
  }
  body {
    background-color: $profile_blue;
    background-size: cover;
    background-image: url('../assets/desktop_background2_blurred.jpg');
    width: 100%;
  }

  .title {
    font-size: 4rem;
    margin: 2.5rem 0 0 3rem;
    text-align: left;
  }

  .input_group:last-of-type {
    margin-bottom: 1rem;
  }

  .label {
    font-size: 2.6rem;
  }

  .input {
    font-size: 2.2rem;
  }

  .error-message {
    color: $orange;
  }

  .account-form,
  .delete-form {
    width: 50%;
    max-width: 600px;
  }

  .account-form {
    justify-content: center;
    margin-top: -2rem;
  }

  .delete-form {
    margin-bottom: -5rem;
  }

  .button_secondary {
    margin: 0 0 3rem 3rem;
    align-self: flex-start;
  }
}

@media (min-width: 1920px) {
  .title {
    margin-left: 0;
    font-size: 5.6rem;
  }

  .label {
    font-size: 2.8rem;
  }

  .input {
    font-size: 2.4rem;
  }

  .error-message {
    font-size: 1.6rem;
    min-height: 2.7rem;
  }

  .button_primary,
  .button_delete,
  .button_secondary {
    font-size: 2.6rem;
    padding: 1.8rem 4.5rem;
  }
  .button_secondary {
    padding: 1.8rem 5.3rem;
    margin-left: 0;
  }
}
