@import 'reset';
@import 'colors';
@import 'fonts';
@import 'links';
@import 'buttons';
@import 'inputs';

::selection {
  background-color: $red;
}

html,
body {
  height: 100%;
  min-height: 53.6rem;
}

body {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.8rem;
  width: 85%;
  max-width: 140rem;
  margin: 0 auto;
  background-color: #95bdef;
  background-image: linear-gradient(to top, #95bdef 70%, #558cd2);
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0 2rem;
  flex-grow: 1;
}

.account-form,
.delete-form {
  width: 90%;
  align-self: center;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  .input {
    margin-top: -0.5rem;
    display: flex;
    flex-direction: column;
    &:last-of-type {
      padding: 0;
      margin: 0;
    }
  }

  input {
    @include text-input;
    font-size: 1.4rem;
    &:focus + label {
      transform: translateY(-180%);
      color: $white;
    }
    &:not(:placeholder-shown) + label {
      transform: translateY(-180%);
      color: $white;
    }
  }
  label {
    line-height: 1.4;
    transform: translateY(-100%);
    color: $faded_white;
  }
}

.transition {
  transition: transform 0.4s ease-out, color 0.4s ease-out;
}

.error-message {
  transform: translateY(-120%);
  color: $red;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8;
  min-height: 2.1rem;
}

.update-button {
  @include primary-button(19rem);
  min-height: 4rem;
  line-height: 4rem;
  height: 4rem;
  margin: -2rem auto 3rem;
}

.delete-button {
  @include delete-button(19rem);
  min-height: 4rem;
  line-height: 4rem;
  height: 4rem;
  margin: -2rem auto 2rem;
}

.back-button {
  @include secondary-button(14rem);
  margin: 0 auto 2rem;
  line-height: 4.1rem;
  z-index: 1;
}

///////////////////////////////////////////
// media queries

@media (min-height: 760px) {
  body {
    font-size: 2.2rem;
  }
  .title {
    margin: 3rem 0;
    font-size: 3.6rem;
  }
  .account-form,
  .delete-form {
    .input {
      font-size: 2.2rem;
    }
    input {
      font-size: 1.8rem;
    }
  }

  .error-message {
    font-size: 1.4rem;
    line-height: 2;
    min-height: 2.8rem;
  }

  .update-button {
    height: 4.5rem;
    min-height: 4.5rem;
    line-height: 4.5rem;
    width: 23rem;
    //margin-top: -3rem;
  }

  .delete-button {
    height: 4.5rem;
    min-height: 4.5rem;
    line-height: 4.5rem;
    width: 23rem;
  }

  .back-button {
    width: 16rem;
    height: 5.5rem;
    min-height: 5.5rem;
    line-height: 5.1rem;
    margin-top: -3rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 520px) {
  html {
    min-height: 64.5rem;
  }
  .title {
    margin: 2rem 0;
    font-size: 3.2rem;
  }
  .account-form,
  .delete-form {
    width: 80%;
    .input {
      font-size: 2.2rem;
    }
    input {
      font-size: 1.8rem;
    }
  }

  .error-message {
    font-size: 1.4rem;
    line-height: 2;
    min-height: 2.8rem;
  }
}

@media (min-width: 1024px) {
  html {
    min-height: 60rem;
  }
  body {
    background-color: $profile_blue;
    background-size: cover;
    background-image: url('../assets/desktop_background2_blurred.jpg');
    width: 100%;
    font-size: 2.4rem;
  }

  .title {
    font-size: 4rem;
    margin: 2rem 0 0 3rem;
    text-align: left;
  }

  .account-form,
  .delete-form {
    width: 50%;
    max-width: 600px;
  }

  .account-form {
    justify-content: center;
    margin-top: -1rem;
  }

  .delete-form {
    margin-bottom: -5rem;
  }

  .error-message {
    color: $orange;
  }

  .update-button {
    height: 4.5rem;
    min-height: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    width: 22rem;
    margin-top: -3rem;
  }

  .delete-button {
    height: 4.5rem;
    min-height: 4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    width: 22rem;
    margin-top: -3rem;
    margin-bottom: 0;
  }

  .back-button {
    height: 5.5rem;
    min-height: 5.5rem;
    width: 16rem;
    line-height: 5.1rem;
    margin: 0 0 3rem 3rem;
  }
}

@media (min-width: 1920px) {
  .title {
    margin-left: 0;
    font-size: 5.6rem;
  }

  .account-form,
  .delete-form {
    .input {
      font-size: 2.4rem;
    }
  }

  .error-message {
    font-size: 1.6rem;
    line-height: 2;
    min-height: 3.2rem;
  }

  .update-button {
    width: 25rem;
    height: 5.5rem;
    font-size: 2.4rem;
  }

  .delete-button {
    width: 25rem;
    height: 5.5rem;
    font-size: 2.4rem;
  }

  .back-button {
    min-height: 6.5rem;
    width: 19rem;
    line-height: 6.1rem;
    font-size: 2.6rem;
    margin: 0 0 5rem 0;
  }
}
