@import 'reset';
@import 'colors';
@import 'fonts';
@import 'links';
@import 'buttons';
@import 'inputs';

::selection {
  background-color: $red;
}

html,
body {
  min-height: 43rem;
  height: 100%;
}

body {
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  font-size: 1.8rem;
  width: 85%;
  max-width: 140rem;
  margin: 0 auto;
  background-color: #95bdef;
  background-image: linear-gradient(to top, #95bdef 70%, #558cd2);
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.header {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 2;
  font-size: 2.6rem;
  font-family: 'Oleo Script', cursive;
  .logo {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    svg {
      width: 48px;
      height: auto;
      margin-right: 1rem;
      display: block;
      fill: white;
      &:hover {
        fill: $orange;
      }
    }
  }
  span {
    color: $orange;
  }
}

.title {
  font-size: 3.2rem;
  font-weight: 500;
  margin: 1.5rem 0;
  span {
    font-size: 3.8rem;
    color: $brown;
    font-weight: 700;
  }
}

.subtitle {
  line-height: 1.8;
  color: $faded_white;
  flex-grow: 2;
  padding-bottom: 1rem;
}

.signup-button {
  @include primary-button(25rem);
  margin: 0 auto 2rem;
}

.login-button {
  @include secondary-button(14rem);
  margin: 0 auto 4rem;
}

.modal {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  background: linear-gradient(to top, #95bdef 70%, #558cd2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 43rem;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  &-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
.open {
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.error-message {
  transform: translateY(-120%);
  color: $red;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8;
  min-height: 2.1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
  height: 100%;
  align-self: center;
  .input {
    position: relative;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 2rem 0 0 0;
    &:first-of-type {
      flex-grow: 3;
      justify-content: flex-end;
      margin-top: 4rem;
      padding: 0 0 2rem 0;
    }
  }

  input {
    @include text-input;
    &:focus + label {
      transform: translateY(-180%);
      color: $white;
    }
    &:not(:placeholder-shown) + label {
      transform: translateY(-180%);
      color: $white;
    }
  }
  label {
    line-height: 1.4;
    transform: translateY(-100%);
    color: $faded_white;
    transition: transform 0.4s ease-out, color 0.4s ease-out;
  }
}

.login-submit-button {
  @include primary-button(14rem);
  margin: 0 auto 2rem;
}
.back-button {
  @include secondary-button(14rem);
  margin: 0 auto 4rem;
}

///////////////////////////////////////////
// media queries

@media (max-width: 300px) {
  // exclusive purpose of galaxy fold (280px wide)
  .signup-button {
    font-size: 16px;
    width: 23rem;
  }
}

@media (min-width: 520px) {
  body {
    font-size: 2.4rem;
  }

  %button {
    min-height: 5.5rem;
  }

  .error-message {
    font-size: 1.4rem;
    line-height: 2;
    min-height: 2.8rem;
  }
  .button-group {
    flex-grow: 2;
  }
  .signup-button {
    width: 33rem;
    line-height: 5.5rem;
  }

  .login-button {
    width: 17rem;
  }

  .login-submit-button {
    width: 17rem;
    line-height: 5.5rem;
  }

  .back-button {
    width: 17rem;
  }

  .header {
    font-size: 3.4rem;
  }

  .title {
    font-size: 4.5rem;
    span {
      font-size: 5rem;
    }
  }
  .login-form {
    width: 70%;
    .input {
      font-size: 2.4rem;
      flex-grow: unset;
    }
    input {
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 768px) {
  .login-form {
    width: 60%;
    .input:first-of-type {
      flex-grow: 2;
    }
  }

  .back-button,
  .login-submit-button {
    margin: 0;
  }

  .button-group {
    display: flex;
    width: 100%;
    flex-grow: 2;
    justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  html {
    min-height: 57rem;
  }
  body {
    background-color: $signup_brown;
    background-size: cover;
    background-image: linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 35%,
        rgba(0, 0, 0, 1)
      ),
      url('../assets/desktop_background1.jpg');
    background-position-x: right;
  }

  .header {
    font-size: 4.2rem;
    justify-content: flex-start;
    padding-top: 3rem;
    flex-grow: 2;
    .logo {
      margin: 0;
    }
  }

  .title {
    font-size: 6rem;
    margin-bottom: 2rem;
    span {
      font-size: 7.2rem;
      color: $light_blue;
    }
  }

  .subtitle {
    font-size: 2.6rem;
    color: $white;
    flex-grow: 2;
    width: 60%;
    margin-bottom: 3rem;
  }

  .signup-button {
    margin: 0 0 3rem 0;
  }

  .login-button {
    margin: 0;
    margin-bottom: 8%;
  }

  .error-message {
    color: $orange;
  }

  .modal {
    height: 100%;
    background: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .login-form {
    backdrop-filter: blur(0.3rem);
    display: block;
    box-sizing: border-box;
    padding-top: 7rem;
    width: 60rem;
    height: 40rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.85);
    align-items: center;
    .input {
      width: 39rem;
      margin: 1rem auto;
      padding: 0;
      &:first-of-type {
        margin-top: 1rem;
      }
    }

    .button-group {
      display: flex;
      width: 39rem;
      margin: 1rem auto;
      justify-content: space-between;
    }
    .login-submit-button,
    .back-button {
      width: 15rem;
      font-size: 2.2rem;
      margin: 0;
      min-height: 5rem;
    }
    .login-submit-button {
      line-height: 5rem;
    }
  }
}

@media (min-width: 1920px) {
  .header .logo {
    font-size: 5.6rem;
    svg {
      width: 72px;
      height: auto;
    }
  }

  .title {
    font-size: 7.2rem;
    margin-bottom: 4rem;
    span {
      font-size: 8.6rem;
    }
  }

  .subtitle {
    font-size: 3.2rem;
  }

  .signup-button {
    min-height: 6.5rem;
    width: 36rem;
    line-height: 6.5rem;
    font-size: 2.6rem;
  }

  .login-button {
    min-height: 6.5rem;
    width: 19rem;
    font-size: 2.6rem;
  }
}
