@import 'reset';
@import 'colors';
@import 'fonts';
@import 'links';
@import 'buttons';
@import 'inputs';

::selection {
  background-color: $red;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.8rem;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  background-color: $light_blue;
  background-image: linear-gradient(to top, #95bdef 70%, #558cd2);
  overflow: hidden;
}
svg {
  fill: white;
}
.header {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 1rem;
  font-size: 2.8rem;
  font-family: 'Oleo Script', cursive;
  a {
    display: flex;
    align-items: center;
    svg {
      width: 48px;
      height: auto;
      margin-right: 1rem;
      display: block;
    }
  }
  span {
    color: $orange;
  }
}

.title {
  font-size: 3.2rem;

  font-weight: 400;
  margin-bottom: 3rem;
  span {
    font-size: 3.8rem;
    color: $brown;
    font-weight: 700;
  }
}

.subtitle {
  line-height: 2;
  color: rgba(255, 255, 255, 0.8);
  flex-grow: 2;
}

.signup-button {
  @include primary-button(26rem);
  margin: 0 auto 2rem;
}

.login-button {
  @include secondary-button(18rem);
  margin: 0 auto 4rem;
}

.modal {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to top, #95bdef 70%, #558cd2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  &-open {
    opacity: 1;
    pointer-events: auto;
  }
}

.error-message {
  transform: translateY(-100%);
  color: $red;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  .input {
    flex-grow: 1;
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
    align-items: flex-start;
    &:first-of-type {
      justify-content: flex-end;
    }
    input {
      display: block;
      @include text-input;
      &:focus + label {
        transform: translateY(-200%);
        color: white;
      }
      &:valid + label {
        transform: translateY(-200%);
        color: white;
      }
    }
    label {
      line-height: 1.4;
      transform: translateY(-100%);
      color: rgba(255, 255, 255, 0.7);
      transition: transform 0.3s ease-in-out;
    }
  }

  .login-submit-button {
    @include primary-button(15rem);
    margin: 0 auto 2rem;
  }
  .back-button {
    @include secondary-button(15rem);
    margin: 0 auto 4rem;
  }
}

///////////////////////////////////////////
// media queries

@media (max-width: 325px) {
  .signup-button {
    font-size: 1.6rem;
    width: 22rem;
  }
  .login-button {
    font-size: 1.6rem;
    width: 14rem;
  }
}

@media (min-width: 520px) {
  body {
    font-size: 2.4rem;
  }

  %button {
    min-height: 5.5rem;
  }

  .error-message {
    font-size: 1.4rem;
  }
  .signup-button {
    width: 35rem;
    line-height: 5.5rem;
  }

  .header {
    font-size: 3.4rem;
    padding-top: 3rem;
  }

  .title {
    font-size: 4.5rem;
    span {
      font-size: 5rem;
    }
  }
}

@media (min-width: 1024px) {
  body {
    background-color: #312102;
    background-size: cover;
    background-image: linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 35%,
        rgba(0, 0, 0, 1)
      ),
      url('../assets/desktop_background.png');
  }

  .header {
    font-size: 4.2rem;
    justify-content: flex-start;
  }

  .title {
    font-size: 6.4rem;
    margin-bottom: 1rem;
    span {
      font-size: 7.2rem;
      color: $light_blue;
    }
  }

  .subtitle {
    font-size: 2.6rem;
    color: white;
    width: 70%;
  }

  .signup-button {
    margin: 0 0 2rem 0;
  }

  .login-button {
    margin: 0;
    margin-bottom: 10%;
  }

  .error-message {
    color: $orange;
  }

  .modal {
    background: none;
    backdrop-filter: blur(0.5rem);
    justify-content: center;
    align-items: center;
  }
  .login-form {
    display: block;
    box-sizing: border-box;
    padding-top: 10rem;
    width: 60rem;
    height: 40rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    .input {
      width: 39rem;
      margin: 0 auto;
      padding: 0;

      &:last-of-type {
        margin-top: 3rem;
      }
    }
    .button-group {
      display: flex;
      width: 39rem;
      margin: 0 auto;
      justify-content: space-between;
    }
    .login-submit-button,
    .back-button {
      width: 18rem;
      margin: 0;
    }
  }
}

/*
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 0 auto;
  .input {
    flex-grow: 1;
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
    align-items: flex-start;
    &:first-of-type {
      justify-content: flex-end;
    }
    input {
      display: block;
      @include text-input;
      &:focus + label {
        transform: translateY(-200%);
        color: white;
      }
      &:valid + label {
        transform: translateY(-200%);
        color: white;
      }
    }
    label {
      line-height: 1.8;
      transform: translateY(-100%);
      color: rgba(255, 255, 255, 0.7);
      transition: transform 0.3s ease-in-out;
    }
  }
} */
