@import 'reset';
@import 'colors';
@import 'fonts';
@import 'links';
@import 'buttons';
@import 'inputs';

::selection {
  background-color: $red;
}

html {
  min-height: 32rem;
  height: 100%;
  overflow-x: hidden;
}
body {
  display: flex;
  position: relative;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  height: 100%;
  padding: 0 10%;
  background-color: #95bdef;
  background-image: linear-gradient(to top, #95bdef 70%, #558cd2);
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hamburger {
  height: 8rem;
  padding: 2.4rem;
  background: transparent;
  position: relative;
  display: flex;
  outline: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 5;
  .line {
    width: 4rem;
    height: 0.4rem;
    background: $white;
    border-radius: 0.2rem;
    transition: transform 0.7s ease, opacity 0.5s ease;
    left: 1rem;
    &-1 {
      width: 5rem;
      transition: transform 0.7s ease;
    }
    &-3 {
      width: 5rem;
      transition: transform 0.7s ease;
    }
  }
  &:focus .line,
  &:hover .line {
    background: $orange;
  }
}

.hamburger-open .line-2 {
  transform: translateX(-100%);
  opacity: 0;
}
.hamburger-open .line-1 {
  transform: translateY(1.4rem) rotate(45deg);
}

.hamburger-open .line-3 {
  transform: translateY(-1.4rem) rotate(-45deg);
}

.list {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background: none;
  background-color: rgba($blue, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
  transition: transform 0.8s ease-in, visibility 0s 0.8s;
}

.list-open {
  transform: translateX(-100%);
  transition: transform 0.8s ease-out, visibility 0s 0s;
  visibility: visible;
}

.list-item > a {
  padding: 1rem 2rem;
  margin: 0 4rem;
}

.list-item:first-child {
  font-size: 3.2rem;
  display: none;
  font-family: 'Oleo Script', cursive;
  span {
    color: $orange;
  }
}

.list-item:last-child {
  font-weight: 500;
}

.title {
  overflow-wrap: break-word;
  width: 100%;
  font-weight: 500;
  text-align: center;
  font-size: 3.8rem;
  margin: calc(45vh - 6rem) 0 3rem 0;
  span {
    color: $orange;
  }
}

.subtitle {
  text-align: center;
  font-size: 2rem;
  flex-grow: 1;
}

.addtask-button {
  @include secondary-button(17rem);
  margin: 4rem auto;
}

.modal {
  opacity: 0;
  visibility: hidden;
  display: flex;
  background: linear-gradient(to top, #95bdef 70%, #558cd2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 32rem;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 10;
  pointer-events: none;
  &-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}
.open {
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.addtask-form {
  color: $faded_white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    font-size: 2rem;
    &:first-of-type {
      flex-grow: 1;
      margin-top: 4rem;
      margin-bottom: -1rem;
      justify-content: flex-end;
    }
    &:nth-child(3) {
      margin-bottom: -2rem;
    }
    &:nth-child(4) {
      flex-grow: 2;
      margin: 0;
    }

    .radio-group {
      display: flex;
      justify-content: space-evenly;
      margin: 1rem 0 0.5rem;
      & + p {
        transform: none;
      }
    }
    textarea {
      box-sizing: border-box;
      resize: none;
      font-weight: 300;
      outline: none;
      color: $faded_white;
      padding: 0.5rem;
      margin-top: 0.5rem;
      height: 100%;
      max-height: 16rem;
      border-radius: 1rem;
      background: rgba($blue, 0.3);
      font-family: 'Poppins', sans-serif;
      border: 1px solid transparent;
      transition: border 0.3s ease;
      &::placeholder {
        color: $faded_white;
      }
      &:focus {
        border: 1px solid $faded_white;
      }
    }
  }

  .input label span {
    font-size: 1.6rem;
  }

  #title,
  #deadline {
    @include text-input;
    &:focus + label {
      transform: translateY(-180%);
      color: $white;
    }
    &:not(:placeholder-shown) + label {
      transform: translateY(-180%);
      color: $white;
    }
    & + label {
      line-height: 1.4;
      transform: translateY(-100%);
      color: $faded_white;
      transition: transform 0.4s ease;
    }
  }
  .radio-input {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: $faded_white;
    font-size: 1.4rem;
    & > input {
      margin: 0;
      appearance: none;
      width: 2.4rem;
      height: 2.4rem;
      border: none;
      border-radius: 50%;
      outline: none;
    }
    & > #priority_choice_1 {
      background: $green;
    }
    & > #priority_choice_2 {
      background: $yellow;
    }
    & > #priority_choice_3 {
      background: $red;
    }
    & > input:checked {
      transform: scale(1.2);
      border: 0.2rem solid $white;
    }
    & > input:checked + label {
      color: $white;
      font-size: 1.6rem;
      font-weight: 500;
    }
    label {
      margin-bottom: 0.5rem;
    }
  }
}

fieldset:focus-within legend {
  color: $white;
}

.error-message {
  transform: translateY(-120%);
  color: $red;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8;
  min-height: 2.1rem;
}

.task-submit-button {
  @include primary-button(15rem);
  margin: 2rem auto;
}
.back-button {
  @include secondary-button(15rem);
  margin: 0 auto 4rem;
}

///////////////////////////////////////////
// media queries

@media (min-width: 520px) {
  body {
    font-size: 2.4rem;
  }

  .list {
    font-size: 2.8rem;
  }

  .title {
    font-size: 4.4rem;
  }

  .subtitle {
    font-size: 2.6rem;
  }

  .addtask-form {
    width: 70%;
    .input:nth-child(3) {
      margin-top: 1rem;
    }
    .radio-input > input {
      width: 3rem;
      height: 3rem;
      & + label {
        margin-bottom: 1rem;
      }
    }
    .input {
      font-size: 2.4rem;
    }
    #title,
    #deadline {
      font-size: 1.8rem;
    }
  }

  .error-message {
    font-size: 1.4rem;
    min-height: 2.8rem;
  }

  .task-submit-button {
    font-size: 1.8rem;
  }

  .back-button {
    font-size: 1.8rem;
  }

  .addtask-button {
    min-height: 5.5rem;
    width: 23rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 7.2rem;
  }

  .subtitle {
    font-size: 3.6rem;
  }
  .list {
    width: 50%;
  }

  .addtask-form {
    width: 60%;

    .radio-input {
      font-size: 1.6rem;

      & > input:checked + label {
        font-size: 1.8rem;
      }
    }
  }

  .task-submit-button {
    margin: 2rem 0 4rem;
  }

  .back-button {
    margin: 2rem 0 4rem;
  }

  .addtask-button {
    margin-top: 6rem;
  }

  .button-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .error-message {
    line-height: 2;
  }
}

@media (min-width: 1024px) {
  html {
    min-height: 62rem;
  }
  body {
    display: block;
    background-color: $profile_blue;
    background-size: cover;
    background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.8)
      ),
      url('../assets/desktop_background2.jpg');
  }

  .navigation {
    background: rgba($blue, 0.75);
  }

  .hamburger {
    display: none;
  }

  .list {
    font-size: 2.4rem;
    visibility: visible;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    backdrop-filter: none;
    flex-direction: row;
    height: unset;
    transform: none;
    width: 100%;
  }

  .list-item:first-child {
    display: block;
    flex-grow: 1;
  }

  .error-message {
    color: $orange;
  }

  .modal {
    height: 100%;
    background: rgba($profile_blue, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .addtask-form {
    box-sizing: border-box;
    width: 70rem;
    height: 58rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.85);
    align-items: center;
    backdrop-filter: blur(0.3rem);
    .input {
      width: 50rem;
      margin: 0 auto;
      &:first-of-type {
        margin-top: 4rem;
        margin-bottom: -2rem;
      }
      &:nth-child(3) {
        margin-bottom: -2rem;
        margin-top: 3rem;
      }
      &:nth-child(4) {
        flex-grow: 3;
        textarea {
          background: rgba($white, 0.03);
        }
      }
    }

    .button-group {
      width: 50rem;
      margin: 0 auto;
    }
  }
  .task-submit-button {
    margin: 2.5rem 0 3.5rem;
  }

  .back-button {
    margin: 2.5rem 0 3.5rem;
  }

  .addtask-button {
    margin-top: 20vh;
  }
}

@media (min-width: 1920px) {
  .title {
    font-size: 8.6rem;
  }
  .subtitle {
    font-size: 4.2rem;
  }
  .addtask-button {
    min-height: 6.5rem;
    font-size: 2.8rem;
    width: 26rem;
  }
  .navigation {
    height: 9rem;
  }
  .list {
    font-size: 2.8rem;
  }
  .list-item:first-child {
    font-size: 3.8rem;
  }

  .addtask-form {
    width: 73rem;
    height: 62rem;
  }
  .task-submit-button {
    height: 5.5rem;
    font-size: 2.4rem;
    width: 17rem;
  }
  .back-button {
    height: 5.5rem;
    font-size: 2.4rem;
    width: 17rem;
  }
}
