@import 'reset';
@import 'colors';
@import 'fonts';
@import 'links';
@import 'buttons';
@import 'forms';
@import 'inputs';

html {
  min-height: 32rem;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  position: relative;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 10%;
  background-color: #95bdef;
  background-image: linear-gradient(to top, #95bdef 70%, #558cd2);
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.body--visible {
  visibility: visible;
  opacity: 1;
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hamburger {
  height: 8rem;
  padding: 2.4rem 2.6rem;
  background: transparent;
  position: relative;
  display: flex;
  outline: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 5;
  .line {
    display: block;
    width: 4rem;
    height: 0.4rem;
    background: $white;
    border-radius: 0.2rem;
    transition: transform 0.7s ease, opacity 0.5s ease;
    left: 1rem;
    &--1 {
      width: 5rem;
      transition: transform 0.7s ease;
    }
    &--3 {
      width: 5rem;
      transition: transform 0.7s ease;
    }
  }
  &:focus .line,
  &:hover .line {
    background: $orange;
  }
}

.hamburger-open .line--2 {
  transform: translateX(-100%);
  opacity: 0;
}
.hamburger-open .line--1 {
  transform: translateY(1.4rem) rotate(45deg);
}

.hamburger-open .line--3 {
  transform: translateY(-1.4rem) rotate(-45deg);
}

.list {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  top: 0;
  left: 100%;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  background: none;
  background-color: rgba($blue, 0.9);
  transition: transform 0.8s cubic-bezier(0.46, 0.04, 0.91, 0.69),
    visibility 0s 0.8s;
}

.list-open {
  transform: translateX(-100%);
  transition: transform 0.8s cubic-bezier(0.14, 0.25, 0.45, 0.97),
    visibility 0s 0s;
  visibility: visible;
}

.list_link {
  padding: 1rem 2rem;
  margin: 0 4rem;
  &--colored {
    color: $orange;
  }
}

.list_item:first-child {
  font-size: 3.2rem;
  display: none;
  font-family: 'Oleo Script', cursive;
}

.list_item:last-child {
  font-weight: 500;
}

.title {
  overflow-wrap: break-word;
  width: 100%;
  font-weight: 500;
  text-align: center;
  font-size: 3.8rem;
  margin: calc(45vh - 6rem) 0 3rem 0;

  &--colored {
    color: $orange;
  }
}

.subtitle {
  text-align: center;
  font-size: 2rem;
  flex-grow: 1;
}

.button {
  font-size: 1.8rem;
}

.button--open-modal {
  padding: 1.1rem 3rem;
  margin-bottom: 4rem;
}

.modal {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  background: linear-gradient(to top, #95bdef 70%, #558cd2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 32rem;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 10;
  pointer-events: none;
  &-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.open {
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.label {
  font-size: 2rem;
}

.addtask-form {
  color: $faded_white;
  flex-grow: unset;
  width: 80%;
  height: 100%;

  // mere purpose of this pseudo-element is to push all
  // other input groups below, flex-grow on first
  // input-group creates bugs due to the absolute
  // positioning of label inside

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    flex-grow: 1;
  }
}

.input_group {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 1rem;

  &:first-child {
    margin-top: 4rem;
  }

  &--last {
    flex-grow: 2;
  }
}

.deadline--date-format {
  font-size: 1.4rem;
  vertical-align: middle;
}

.fieldset_legend {
  font-size: 2rem;
  transition: color 0.4s ease-out;
}

.fieldset:focus-within .fieldset_legend {
  color: $white;
}

.radio_container {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 2rem;
}

.radio_input_group {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: $faded_white;
  font-size: 1.4rem;
  width: 6rem;
}

.radio_input {
  margin: 0;
  appearance: none;
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  border-radius: 50%;
  outline: none;
}

#priority_choice_1 {
  background: $green;
}
#priority_choice_2 {
  background: $yellow;
}
#priority_choice_3 {
  background: $red;
}

.radio_input:checked {
  transform: scale(1.2);
  border: 0.2rem solid $white;
}

.radio_label {
  margin-bottom: 0.5rem;
}

.radio_input:checked + .radio_label {
  color: $white;
  font-size: 1.6rem;
  font-weight: 500;
}

.textarea {
  box-sizing: border-box;
  resize: none;
  font-weight: 300;
  outline: none;
  color: $faded_white;
  padding: 0.5rem;
  margin-top: 0.5rem;
  height: 100%;
  max-height: 18rem;
  border-radius: 1rem;
  background: rgba($blue, 0.3);
  font-family: 'Poppins', sans-serif;
  border: 1px solid transparent;
  transition: border 0.3s ease;
  &::placeholder {
    color: $faded_white;
  }
  &:focus {
    border: 1px solid $faded_white;
  }
}

.button--addtask {
  padding: 1.3rem 3.2rem;
  margin: 2rem auto;
}
.button--close-modal {
  padding: 1.1rem 4.8rem;
  margin-bottom: 4rem;
}

//////////////////////////////////
//        media queries         //
//////////////////////////////////

@media (min-width: 520px) {
  .list {
    font-size: 2.6rem;
  }

  .title {
    font-size: 4.8rem;
  }

  .subtitle {
    font-size: 2.8rem;
  }

  .button--open-modal {
    font-size: 2.4rem;
    padding: 1.3rem 4rem;
  }

  .addtask-form {
    width: 65%;
  }

  .radio_input {
    width: 3rem;
    height: 3rem;
  }

  .radio_label {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  .radio_input:checked + .radio_label {
    font-size: 2rem;
  }

  .input_group {
    font-size: 2.4rem;
  }

  .input {
    font-size: 1.8rem;
  }

  .label {
    font-size: 2.4rem;
  }

  .fieldset_legend {
    font-size: 2.4rem;
  }

  .radio_container {
    margin-bottom: 3rem;
  }

  .error-message {
    font-size: 1.4rem;
    min-height: 2.3rem;
  }

  .button--addtask,
  .button--close-modal {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 7.2rem;
  }

  .subtitle {
    font-size: 3.6rem;
  }
  .list {
    width: 50%;
  }

  .addtask-form {
    width: 60%;
  }

  .textarea {
    font-size: 1.6rem;
  }

  .button--open-modal {
    margin: 6rem auto;
  }

  .button-group {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .button--addtask,
  .button--close-modal {
    margin: 2rem 0 6rem;
    font-size: 2.4rem;
  }

  .button--addtask {
    padding: 1.6rem 3.8rem;
  }

  .button--close-modal {
    padding: 1.4rem 6rem;
  }
}

@media (min-width: 1024px) {
  html {
    min-height: 62rem;
  }
  body {
    display: block;
    background-color: $profile_blue;
    background-size: cover;
    background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.8)
      ),
      url('../assets/desktop_background2.jpg');
  }

  .navigation {
    background: rgba($blue, 0.75);
    height: 6rem;
  }

  .hamburger {
    display: none;
  }

  .list {
    font-size: 2.4rem;
    visibility: visible;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: none;
    backdrop-filter: none;
    flex-direction: row;
    height: unset;
    transform: none;
    width: 100%;
  }

  .list_item:first-child {
    display: block;
    flex-grow: 1;
  }

  .error-message {
    color: $orange;
  }

  .modal {
    height: 100%;
    background: rgba($profile_blue, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .addtask-form {
    box-sizing: border-box;
    width: 68rem;
    height: 60rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.85);
    align-items: center;
    backdrop-filter: blur(0.3rem);
  }

  .input_group {
    width: 53rem;
    margin: 1rem auto 0;

    &:first-of-type {
      margin-top: 2rem;
    }
  }

  .input {
    font-size: 2rem;
  }

  .textarea {
    background: rgba($white, 0.03);
  }

  .button-group {
    width: 50rem;
    margin: 0 auto;
  }

  .button--addtask,
  .button--close-modal {
    margin: 2.5rem 0 3rem;
  }

  .button--open-modal {
    margin-top: 20vh;
  }
}

@media (min-width: 1920px) {
  .title {
    font-size: 8.6rem;
  }
  .subtitle {
    font-size: 4.2rem;
  }
  .button--open-modal {
    font-size: 2.8rem;
    padding: 1.6rem 4.2rem;
  }

  .navigation {
    height: 9rem;
  }

  .list {
    font-size: 2.8rem;
  }
  .list_item:first-child {
    font-size: 3.8rem;
  }

  .addtask-form {
    width: 73rem;
    height: 62rem;
  }

  .button--addtask,
  .button--close-modal {
    font-size: 2.6rem;
  }

  // .button--addtask{
  //   padding:
  // }
}
