@import 'reset';
@import 'colors';
@import 'fonts';
@import 'links';
@import 'buttons';
@import 'inputs';

::selection {
  background-color: $red;
}
html,
body {
  min-height: 53rem;
  height: 100%;
}
body {
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.8rem;
  width: 80%;
  max-width: 140rem;
  margin: 0 auto;
  background-color: #95bdef;
  background-image: linear-gradient(to top, #95bdef 70%, #558cd2);
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.header {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 2.6rem;
  font-family: 'Oleo Script', cursive;
  padding: 1rem 0 2rem;
  a {
    display: flex;
    align-items: center;
    svg {
      width: 48px;
      height: auto;
      margin-right: 1rem;
      display: block;
      fill: $white;
    }
  }
  span {
    color: $orange;
  }
}

.signup-form {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  .input {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }

  input {
    @include text-input;
    &:focus + label {
      transform: translateY(-180%);
      color: $white;
    }
    &:not(:placeholder-shown) + label {
      transform: translateY(-180%);
      color: $white;
    }
  }
  label {
    line-height: 1.4;
    transform: translateY(-100%);
    color: $faded_white;
  }
}

.transition {
  transition: transform 0.4s ease-out;
}

.error-message {
  transform: translateY(-120%);
  color: $red;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8;
  min-height: 2.1rem;
}

.signup-submit-button {
  @include primary-button(20rem);
  margin: 0 auto 2rem;
}

.back-button {
  @include secondary-button(14rem);
  margin: 0 auto 4rem;
  line-height: 4.1rem;
}

///////////////////////////////////////////
// media queries

@media (min-width: 520px) {
  body {
    font-size: 2.4rem;
    min-height: 63.5rem;
  }

  %button {
    min-height: 5.5rem;
  }

  .signup-form {
    width: 90%;
    align-self: center;
    .input {
      font-size: 2.4rem;
    }
    input {
      font-size: 1.8rem;
    }
  }

  .error-message {
    font-size: 1.4rem;
    line-height: 2;
    min-height: 2.8rem;
  }
  .signup-submit-button {
    width: 26rem;
    line-height: 5.5rem;
  }

  .back-button {
    width: 17rem;
    line-height: 5.1rem;
  }

  .header {
    font-size: 3.4rem;
  }

  .title {
    font-size: 4.5rem;
    span {
      font-size: 5rem;
    }
  }
  .signup-form .input {
    margin: 0.5rem 0;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: $signup_brown;
    background-size: cover;
    background-image: url('../assets/desktop_background1_blurred.jpg');
    background-position-x: right;
    width: 100%;
    min-height: 59.5rem;
  }

  .header {
    padding: 0;
  }
  .logo {
    font-size: 4.2rem;
    padding: 2rem 4rem 0 0;
  }

  .signup-form {
    width: 50%;
    max-width: 600px;
  }

  .error-message {
    color: $orange;
  }

  .signup-submit-button {
    margin-bottom: 0;
  }
  .back-button {
    margin: 0 0 3rem 3rem;
  }
}

@media (min-width: 1920px) {
  .header {
    justify-content: flex-start;
    .logo {
      font-size: 5.6rem;
      padding: 3rem 0 0 0;
      svg {
        width: 72px;
        height: auto;
      }
    }
  }

  .error-message {
    font-size: 1.6rem;
    line-height: 2;
    min-height: 3.2rem;
  }

  .signup-submit-button {
    min-height: 6.5rem;
    width: 30rem;
    line-height: 6.5rem;
    font-size: 2.6rem;
  }

  .back-button {
    min-height: 6.5rem;
    width: 19rem;
    line-height: 6.1rem;
    font-size: 2.6rem;
    margin: 0 0 5rem 0;
  }
}
