@import 'reset';
@import 'colors';
@import 'fonts';
@import 'links';
@import 'buttons';
@import 'forms';
@import 'inputs';

html,
body {
  min-height: 52rem;
  height: 100%;
}

body {
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  max-width: 140rem;
  margin: 0 auto;
  background-color: #95bdef;
  background-image: linear-gradient(to top, #95bdef 70%, #558cd2);
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.body--visible {
  visibility: visible;
  opacity: 1;
}

.header {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 2.6rem;
  font-family: 'Oleo Script', cursive;
  padding: 1rem 0 2rem;
}

.header_text {
  display: flex;
  align-items: center;

  &--colored {
    color: $orange;
  }
}

.header_book {
  width: 48px;
  height: auto;
  margin-right: 1rem;
  display: block;
  fill: $white;
}

.signup-form {
  flex-grow: 1;
  position: relative;
  display: flex;
  width: 90%;
  align-self: center;
  flex-direction: column;
}
.input_group {
  margin-bottom: 2.2rem;
}
.label {
  font-size: 2rem;
}

.button {
  font-size: 1.8rem;
}

.button_primary {
  padding: 1.1rem 2.6rem;
  margin-bottom: 2rem;
}

.button_secondary {
  padding: 0.9rem 4.1rem;
  margin-bottom: 4rem;
}

//////////////////////////////////
//        media queries         //
//////////////////////////////////

@media (min-width: 520px) {
  body {
    min-height: 63.5rem;
  }

  .signup-form {
    width: 80%;
  }

  .input_group {
    margin-bottom: 2.8rem;
  }

  .label {
    font-size: 2.4rem;
  }

  .input {
    font-size: 1.8rem;
  }

  .error-message {
    font-size: 1.4rem;
    min-height: 2.3rem;
  }

  .button {
    font-size: 2.4rem;
  }

  .button_primary {
    padding: 1.6rem 3.4rem;
  }

  .button_secondary {
    padding: 1.4rem 5.4rem;
  }

  .header {
    font-size: 3.4rem;
  }
}

@media (min-width: 768px) {
  .signup-form {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: $signup_brown;
    background-size: cover;
    background-image: url('../assets/desktop_background1_blurred.jpg');
    background-position-x: right;
    width: 100%;
    min-height: 59.5rem;
  }

  .header {
    padding: 0;
  }

  .header_text {
    font-size: 4.2rem;
    padding: 2rem 4rem 0 0;
  }

  .signup-form {
    width: 50%;
    max-width: 600px;
  }

  .error-message {
    color: $orange;
  }

  .button_primary {
    margin-bottom: 0;
  }

  .button_secondary {
    align-self: flex-start;
    margin: 0 0 3rem 3rem;
  }
}

@media (min-width: 1920px) {
  .header {
    justify-content: flex-start;
  }

  .header_text {
    font-size: 5.6rem;
    padding: 3rem 0 0 0;
  }

  .header_book {
    width: 72px;
    height: auto;
  }

  .error-message {
    font-size: 1.6rem;
    min-height: 2.7rem;
  }
  .button {
    font-size: 2.6rem;
  }

  .button_primary {
    padding: 2rem 4.2rem;
  }

  .button_secondary {
    padding: 1.8rem 5.2rem;
    margin: 0 0 5rem 0;
  }
}
