@import 'reset';
@import 'colors';
@import 'fonts';
@import 'links';
@import 'buttons';
@import 'inputs';

::selection {
  background-color: $red;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.8rem;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  background-color: #95bdef;
  background-image: linear-gradient(to top, #95bdef 70%, #558cd2);
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 2.8rem;
  font-family: 'Oleo Script', cursive;
  a {
    display: flex;
    align-items: center;
    svg {
      width: 48px;
      height: auto;
      margin-right: 1rem;
      display: block;
      fill: white;
    }
  }
  span {
    color: $orange;
  }
}

.signup-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .input {
    display: flex;
    flex-direction: column;
    &:first-of-type {
      flex-grow: 2;
      flex-shrink: 1;
      justify-content: flex-end;
    }
    &:last-of-type {
      flex-grow: 1;
      flex-shrink: 5;
    }
  }

  input {
    @include text-input;
    &:focus + label {
      transform: translateY(-200%);
      color: white;
    }
    &:not(:placeholder-shown) + label {
      transform: translateY(-200%);
      color: white;
    }
  }
  label {
    line-height: 1.4;
    transform: translateY(-100%);
    color: rgba(255, 255, 255, 0.7);
  }
  .first_label {
    transition: transform 0.35s ease;
  }
}

.error-message {
  transform: translateY(-100%);
  color: $red;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3rem;
}

.signup-submit-button {
  @include primary-button(22.5rem);
  margin: 0 auto 2rem;
}

.back-button {
  @include secondary-button(15rem);
  margin: 0 auto 4rem;
  line-height: 4.1rem;
}

///////////////////////////////////////////
// media queries

@media (max-width: 325px) {
  .signup-submit-button {
    font-size: 1.6rem;
    width: 18rem;
  }
  .back-button {
    font-size: 1.6rem;
    width: 12rem;
  }
}

@media (min-width: 520px) {
  body {
    font-size: 2.4rem;
  }

  %button {
    min-height: 5.5rem;
  }

  .error-message {
    font-size: 1.4rem;
  }
  .signup-submit-button {
    width: 28rem;
    line-height: 5.5rem;
  }

  .back-button {
    line-height: 5.1rem;
  }

  .header {
    font-size: 3.4rem;
    padding-top: 3rem;
  }

  .title {
    font-size: 4.5rem;
    span {
      font-size: 5rem;
    }
  }
}
@media (min-width: 768px) {
  .signup-form {
    width: 70%;
    align-self: center;
  }
}

@media (min-width: 1024px) {
  html {
    background-color: $signup_brown;
    background-size: cover;
    background-image: linear-gradient(
        rgba($signup_brown, 0.85),
        rgba($signup_brown, 0.85)
      ),
      url('../assets/desktop_background.png');
  }
  body {
    background: none;
    backdrop-filter: blur(1rem);
    width: 100%;
  }

  .logo {
    margin-right: 5rem;
  }

  .signup-form {
    width: 50%;
    max-width: 600px;
  }

  .error-message {
    color: $orange;
  }

  .back-button {
    margin: 0 0 4rem 4rem;
  }
}
