@import 'reset';
@import 'colors';
@import 'fonts';
@import 'links';
@import 'buttons';
@import 'forms';
@import 'inputs';

body {
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  background-color: #95bdef;
  background-image: linear-gradient(to top, #95bdef 70%, #558cd2);
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.body--visible {
  visibility: visible;
  opacity: 1;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem 0;
}

.tasks_list--multicolumn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.task--multicolumn {
  width: 48%;
}

.task {
  padding: 2rem 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba($blue, 0.4);
  border-radius: 2.5rem;
}

.task:last-of-type {
  margin-bottom: 10.5rem;
}

.task_title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
}

.task_time {
  color: rgba($white, 0.7);
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.task_description {
  font-size: 1.4rem;
  margin: 1rem 0 2rem;
  line-height: 1.3;
  color: rgba($white, 0.8);
  flex-grow: 1;
}

.task_container {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}

.delete_task_button {
  color: $faded_red;
  background: none;
  border: none;
  font-weight: 500;
  outline: none;
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $red;
    font-weight: 700;
  }
}

.task_priority {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  &::after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $yellow;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3rem;
  }

  &-low {
    &::after {
      background-color: $green;
    }
  }
  &-medium {
    &::after {
      background-color: $yellow;
    }
  }
  &-high {
    &::after {
      background-color: $red;
    }
  }
}

.toolbar {
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 26rem;
  height: 49rem;
  z-index: 10;
  border-bottom-right-radius: 2.5rem;
}

.toolbar_fieldset {
  margin-top: 3rem;
}

.toolbar_fieldset:focus-within .toolbar_header {
  color: $orange;
}

.toolbar_header {
  font-weight: 500;
  font-size: 2.6rem;
  margin: 0 0 1rem 3rem;
}

.input_group {
  font-size: 1.6rem;
  margin: 2rem 0 2rem 2.5rem;
  display: flex;
  align-items: center;
}

.radio_input {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  outline: none;
  background: $white;
  margin-right: 1rem;

  &:checked {
    background: $orange;
  }

  &:checked + .radio_label {
    color: $orange;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.button_primary {
  margin: 1rem auto 1rem;
  font-size: 2rem;
  padding: 1rem 4rem;
}

.tasks_view {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.tasks_view_button {
  background-position: bottom;
  background-size: cover;
  appearance: none;
  width: 2.6rem;
  height: 2.6rem;
  border: none;
  outline: none;
}

.tasks_view_label {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button--vertical {
  background-image: url('../assets/vertical_icon.svg');

  &:checked {
    background-position: top;
  }
}
.button--horizontal {
  background-image: url('../assets/horizontal_icon.svg');

  &:checked {
    background-position: top;
  }
}

.back_button_background {
  height: 8.5rem;
  background-image: linear-gradient(to top, rgba($blue, 0.9) 97%, transparent);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  left: 0;
}

.button_secondary {
  padding: 1.2rem 4.5rem;
  font-size: 1.8rem;
}

//////////////////////////////////
//        media queries         //
//////////////////////////////////

@media (min-width: 520px) {
  .title {
    font-size: 3.2rem;
    margin: 3rem 0;
  }

  .tasks_list {
    width: 90%;
    margin: 0 auto;
  }

  .task:last-of-type {
    margin-bottom: 12.5rem;
  }

  .task_title {
    font-size: 2.4rem;
  }

  .task_time {
    font-size: 1.6rem;
  }

  .task_description {
    font-size: 1.6rem;
  }

  .task_container {
    font-size: 2rem;
  }

  .back_button_background {
    height: 10.5rem;
  }

  .button_secondary {
    padding: 1.4rem 5.2rem;
    font-size: 2.4rem;
  }
}

@media (orientation: landscape) and (max-height: 519px) {
  .title {
    margin: 2rem 0;
  }

  .task:last-of-type {
    margin-bottom: 10rem;
  }

  .back_button_background {
    height: 8rem;
  }

  .button_secondary {
    padding: 0.9rem 3.6rem;
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 4rem;
    margin: 4rem 0;
  }

  .tasks_list {
    width: 75%;
  }

  .task_priority::after {
    width: 2.4rem;
    height: 2.4rem;
    right: -3rem;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: $profile_blue;
    background-size: cover;
    background-image: url('../assets/desktop_background2_blurred.jpg');
    background-attachment: fixed;
    box-sizing: border-box;
    width: 100%;
    padding-left: 26rem;
    max-width: 166rem;
  }

  .title {
    font-size: 5rem;
  }
  .tasks_list {
    width: 85%;
    margin: 0 auto;
  }

  .task {
    background-color: rgba(0, 0, 0, 0.85);
    margin-bottom: 3rem;
    padding: 2.5rem 3rem;
  }

  .task_title {
    margin-bottom: 1.5rem;
    font-size: 2.6rem;
  }

  .task:last-of-type {
    margin-bottom: 3rem;
  }

  .task_description {
    font-size: 1.8rem;
  }

  .task_container {
    font-size: 2.4rem;
  }

  .delete_task_button {
    font-size: 2.4rem;
  }

  .toolbar {
    display: block;
  }

  .back_button_background {
    background: none;
    height: 1px;
  }

  .button_secondary {
    position: fixed;
    transform: none;
    left: 3rem;
    bottom: 3rem;
    margin: 0;
  }
}

@media (min-width: 1920px) {
  .title {
    font-size: 5.6rem;
  }

  .task_title {
    font-size: 3rem;
  }

  .task_time {
    font-size: 1.8rem;
  }

  .task_description {
    font-size: 2.2rem;
  }

  .toolbar {
    width: 30rem;
    height: 56rem;
  }

  .toolbar_header {
    font-size: 3rem;
  }

  .input_group {
    font-size: 2rem;
    margin: 2.5rem 0 2.5rem 3rem;
  }

  .radio_input {
    width: 2.4rem;
    height: 2.4rem;
  }

  .radio_input:checked + .radio_label {
    font-size: 2.2rem;
  }

  .button_primary {
    padding: 1.1rem 4.4rem;
    font-size: 2.4rem;
  }

  .button_secondary {
    padding: 1.8rem 6rem;
    font-size: 2.6rem;
  }
  .tasks_view_button {
    width: 3rem;
    height: 3rem;
  }
}
