@import 'reset';
@import 'colors';
@import 'fonts';
@import 'links';
@import 'buttons';
@import 'inputs';

::selection {
  background-color: $red;
}

body {
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  font-size: 1.8rem;
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  background-color: #95bdef;
  background-image: linear-gradient(to top, #95bdef 70%, #558cd2);
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem 0;
}

.tasks-list-multicolumn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.task-multicolumn {
  width: 48%;
}

.task {
  padding: 2rem 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba($blue, 0.4);
  border-radius: 2.5rem;
}
.task:last-of-type {
  margin-bottom: 10.5rem;
}

.task-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
}
.task-time {
  color: rgba($white, 0.7);
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.task-description {
  font-size: 1.4rem;
  margin: 1rem 0 2rem;
  line-height: 1.3;
  color: rgba($white, 0.8);
  flex-grow: 1;
}
.group {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
}
.delete-button {
  color: $faded_red;
  background: none;
  border: none;
  font-weight: 500;
  outline: none;
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $red;
    font-weight: 700;
  }
}

.priority {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  &::after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $yellow;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -3rem;
  }
  &-low {
    &::after {
      background-color: $green;
    }
  }
  &-medium {
    &::after {
      background-color: $yellow;
    }
  }
  &-high {
    &::after {
      background-color: $red;
    }
  }
}

.toolbar {
  display: none;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 26rem;
  height: 49rem;
  z-index: 10;
  border-bottom-right-radius: 2.5rem;
}

.fieldset {
  margin-top: 3rem;
}

.fieldset:focus-within legend {
  color: $orange;
}

.toolbar-header {
  font-weight: 500;
  font-size: 2.6rem;
  margin: 0 0 1rem 3rem;
}
.input {
  font-size: 1.6rem;
  margin: 2rem 0 2rem 2.5rem;
  display: flex;
  align-items: center;

  input {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    outline: none;
    background: $white;
    margin-right: 1rem;
  }
  input:checked {
    background: $orange;
  }
  input:checked + label {
    color: $orange;
    font-size: 1.8rem;
    font-weight: 500;
  }
}
.sort-button {
  //@include primary-button(12rem);
  margin: 1rem auto 1rem;
  font-size: 2rem;
  height: 4rem;
  min-height: 4rem;
  line-height: 4rem;
}

.tasks-view {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  input {
    background-position: bottom;
    background-size: cover;
    appearance: none;
    width: 2.6rem;
    height: 2.6rem;
    border: none;
    outline: none;
  }
  #vertical {
    background-image: url('../assets/vertical_icon.svg');
    &:checked {
      background-position: top;
    }
  }
  #horizontal {
    background-image: url('../assets/horizontal_icon.svg');
    &:checked {
      background-position: top;
    }
  }
  label {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.back-button-background {
  height: 8.5rem;
  background-image: linear-gradient(to top, rgba($blue, 0.9) 97%, transparent);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  left: 0;
}

.back-button {
  //@include secondary-button(15rem);
  line-height: 4.1rem;
}

///////////////////////////////////////////
// media queries

@media (min-width: 520px) {
  body {
    font-size: 2.4rem;
  }
  .title {
    font-size: 3.2rem;
    margin: 3rem 0;
  }

  .tasks-list {
    width: 90%;
    margin: 0 auto;
  }
  .task:last-of-type {
    margin-bottom: 12.5rem;
  }
  .task-title {
    font-size: 2.4rem;
  }
  .task-time {
    font-size: 1.6rem;
  }
  .task-description {
    font-size: 1.6rem;
  }
  .group {
    font-size: 2rem;
  }

  .back-button-background {
    height: 10.5rem;
  }

  .back-button {
    height: 5.5rem;
    min-height: 5.5rem;
    line-height: 5.1rem;
  }
}

@media (orientation: landscape) and (max-height: 519px) {
  .title {
    margin: 2rem 0;
  }

  .task:last-of-type {
    margin-bottom: 10rem;
  }

  .back-button-background {
    //background-image: linear-gradient(red, red);
    height: 8rem;
  }
  .back-button {
    min-height: 4rem;
    height: 4rem;
    line-height: 3.6rem;
    width: 13rem;
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 4rem;
    margin: 4rem 0;
  }
  .tasks-list {
    width: 75%;
  }

  .priority::after {
    width: 2.4rem;
    height: 2.4rem;
    right: -3rem;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: $profile_blue;
    background-size: cover;
    background-image: url('../assets/desktop_background2_blurred.jpg');
    background-attachment: fixed;
    box-sizing: border-box;
    width: 100%;
    padding-left: 26rem;
    max-width: 166rem;
  }
  .title {
    font-size: 5rem;
  }
  .tasks-list {
    width: 85%;
    margin: 0 auto;
  }
  .task {
    background-color: rgba(0, 0, 0, 0.85);
    margin-bottom: 3rem;
    padding: 2.5rem 3rem;
  }
  .task-title {
    margin-bottom: 1.5rem;
    font-size: 2.6rem;
  }

  .task:last-of-type {
    margin-bottom: 3rem;
  }
  .task-description {
    font-size: 1.8rem;
  }
  .group {
    font-size: 2.4rem;
  }
  .delete-button {
    font-size: 2.4rem;
  }

  .toolbar {
    display: block;
  }

  .back-button-background {
    background: none;
    height: 1px;
  }
  .back-button {
    position: fixed;
    transform: none;
    left: 3rem;
    bottom: 3rem;
    margin: 0;
  }
}

@media (min-width: 1920px) {
  .title {
    font-size: 5.6rem;
  }
  .task-title {
    font-size: 3rem;
  }
  .task-time {
    font-size: 1.8rem;
  }
  .task-description {
    font-size: 2.2rem;
  }
  .toolbar {
    width: 30rem;
    height: 56rem;
  }
  .toolbar-header {
    font-size: 3rem;
  }
  .input {
    font-size: 2rem;
    margin: 2.5rem 0 2.5rem 3rem;
    input {
      width: 2.4rem;
      height: 2.4rem;
    }
    input:checked + label {
      font-size: 2.2rem;
    }
  }
  .sort-button {
    width: 14rem;
    font-size: 2.4rem;
    height: 4.5rem;
    min-height: 4.5rem;
    line-height: 4.5rem;
  }
  .back-button {
    width: 19rem;
    line-height: 6.5rem;
    font-size: 2.6rem;
    min-height: 6.5rem;
  }
  .tasks-view input {
    width: 3rem;
    height: 3rem;
  }
}
